# Postgres superuser
POSTGRES_PASSWORD=yourpostgrespassword

# Per-database passwords
ACCOUNT_DB_PASSWORD=youraccountdbpassword
WORKSPACE_DB_PASSWORD=yourworkspacedbpassword
INTELLIGENCE_DB_PASSWORD=yourintelligencedbpassword

JWT_SECRET=yourjwtsecretkeyplaceholder

MINIO_ROOT_PASSWORD=yourminionpassword
MINIO_ROOT_USER=minio

AI_API_KEY=sk-or-v1-placeholder

STRIPE_API_KEY=sk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder

GIT_USERNAME=yourgithubusername
GIT_PASSWORD=yourgithubtoken
